/* fond du background */
body {
    background-image: url("asset\\background1.jpg");
    background-size: cover;
    margin: 5rem;
    padding: 5rem;
}

/* logo */
#logo_header {
    display: block;
    margin: 0 auto;
    height: 12rem;
}

/* barre de nav */
.nav_header {
    text-align: center;
    border: 2px solid black;
    position: relative;
    background-color: silver;
    margin: 20px;
    padding: 20px;

    &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 5px solid rgb(183, 0, 255);
    }
}

.ul_header {
    justify-content: center;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.li_header {
    margin-right: 1rem;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.li_header a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.bio1, .projet1, .comp1, .contact1 {
    margin: 1rem;

}

/* Biographie / Projet / compétence / Contact */
h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 3rem;
}

.comp {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
}

td {
    border: 2px solid black;
    position: relative;
    background-color: silver;

    &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 5px solid rgb(183, 0, 255);
    }
}

.tabl_proj {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo compétence */
.html1, .css1, .js1 {
    height: 5rem;
}

/* Nav footer */
footer {
    align-items: center;
}

.nav_footer {
    justify-content: center;
}

.ul_footer {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
}

.li_footer {
    color: black;
    align-items: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.github {
    height: 1.2rem;
    margin-right: 1rem;
    margin-left: 6rem;
}

.linkedin {
    height: 1rem;
    margin-left: 1rem;
    margin-right: 2em;
}

.mail {
    text-align: center;
}