/* fond du background */

body {
    background-image: url("asset\\background1.jpg");
    background-size: cover;
    margin: 5rem;
    padding: 5rem;
}
/* logo */

#logo_header {
    float: center;
}

/* barre de nav */

.nav_header {
    border-style: solid;
    border-color: rgb(183, 0, 255);
    text-align: center;
}

.ul_header {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.li_header a {
    color: black;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.li_header {
    width: 18rem;
}

/* Biographie / Projet / compétence / Contact */


h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style:italic;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 3rem;
}

.comp {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
}

td {
    border-style: solid;
    border-color: rgb(183, 0, 255);
}

.tabl_proj {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo compétence */

.html1 {
    height: 5rem;
}

.css1 {
    height: 5rem;
}

.js1 {
    height: 5rem;
}

/* Nav footer */

footer {
align-items: center;
}

.nav_footer {
    justify-content: center;

}

.ul_footer {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0px;
    border: 0px;
    padding: 0%;
}

.li_footer {
    color: black;
    align-items: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.github {
    height: 1.2rem;
    margin-right: 1rem;
    margin-left: 6rem;
}

.linkedin {
    height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mail {
    height: 2rem;
    margin-left: 2rem;
}